---
import logoPng from '../../assets/Logo.png'
---

<nav class="bg-teal-700 text-white fixed top-0 left-0 right-0 z-50">
    <div class="max-w-7xl mx-auto h-16 flex items-center justify-between">
      <div class="flex items-center gap-2 h-full">
        <img class="w-20 h-20" src={logoPng.src} alt="logo">
        <h2 class="font-medium text-xl">SyncSpend</h2>
      </div>
      <div id="nav-links" class="flex items-center gap-4">

        <div id="nav-desktop-links" class="hidden md:flex items-center gap-4">

        <div id="nav-user-container">
          <p id="nav-user-name" class="px-3 py-1 rounded-full bg-white/10 text-white transition duration-300 ease-in-out hover:bg-white/20"></p>
        </div>

      </div>
        <button id="logout-btn" class="md:hidden flex items-center justify-center p-1 rounded-md bg-white text-teal-700">
          <svg class="w-8 h-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
        </button>
    </div>
</nav>

<script>
  // @ts-nocheck
  import AuthModule, {user} from '../auth/auth.module';
  import { getLinks } from "./navigation.utils";
  const navLinksDiv = document.querySelector('#nav-links'); 
  const navUserName = document.querySelector('#nav-user-name');
  const logoutBtn = document.querySelector('#logout-btn');
  const pathname = location.pathname;
  const links = getLinks(pathname);

  links.forEach(link => {
    if (link.type === 'button') {
      const btn = document.createElement('button');
      btn.addEventListener('click', link.handler);
      btn.innerHTML = link.text;
      navLinksDiv.append(btn)
    } else {
      const a = document.createElement('a');
      a.href = link.path;
      a.setAttribute('class', 'hidden md:block text-white no-underline hover:underline');
      a.innerHTML = link.text;
      navLinksDiv.append(a);
    }
  });

  user.subscribe(user => {
    if (!user) return;
    console.log(user);
    
    const userName = user.email.split('@')[0];
    navUserName.innerHTML = `Bienvenido ${userName}`;
  });
  
</script>