<div id="notification" class="fixed p-4 top-4 right-4 rounded-2xl  shadow-lg shadow-black/20 w-80 max-w-full animate-slide-in z-[60] hidden">
  <p id="notification-title" class="font-semibold text-lg mb-1 select-none text-white">Error</p>
  <p id="notification-description" class="text-sm select-text text-white">Hubo un error obteniendo los contactos</p>
</div>